body
{
	font-family: 'Playfair Display', serif;
	background-color:#ff6655;
}
form
{
	width: 70%;
	margin: auto;
	background-color: linen;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  color:#e75480;
}
fieldset {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 0 0 20px #333;
}
button {
  width: 40%;
  text-align: center;
  height: 40px;
  border-radius: 70px;
  background-color: #e75480;
}
h1
{
	color: #ADD8E6;
}
input[type="text"],input[type="file"]::file-selector-button,select{
  width: 100%;
  height: 40px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
input[type="reset"],input[type="file"]::file-selector-button,select{
	background-color: #e75480;
}
input[type="reset"],select{
  width: 42%;
  height: 40px;
  padding: 5px;
  border-radius: 70px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}